.login {
  &-page {
    margin: auto;
    //padding-top: 40%;
    padding-left: 40%;
  }
}

div.layout {
  text-align: center;
}

div.centre {
  text-align: left;
  width: 400px;
  background-color: #eee;
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}